<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="db_IT1b2" connectionString="2122chapeau.database.windows.net;
         Initial Catalog=#db_IT1b2; User=#group_IT1b2; Password=#fAW64F4X-1PG"/>
	</connectionStrings>
</configuration>